body {
  margin: 0;
  line-height: normal;
  background: linear-gradient(-72.79deg, #fec9f9, #ffdbfd 0.01%, #ecfdff 64.06%);
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

:root {
  --font-san-francisco: "San Francisco";
  --font-poppins: Poppins;
  --font-size-sm: 14px;
  --color-aliceblue-100: #f3f8ff;
  --br-5xs: 8px;
  --color-download: #00a7ff;
  --color-github: #333;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  font-family: var(--font-poppins);
}

.ms-365-electron {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  text-align: left;
}

.heading {
  font-size: 85px;
  line-height: 90px;
  color: #292e37;
  margin-bottom: 10px;
}

.byagam778 {
  font-size: 38px;
  line-height: 50px;
  font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,var(--font-san-francisco);
  color: #00acff;
  cursor: pointer;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.download,
.github {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: var(--br-5xs);
  width: 190px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5ms ease;
}

.download {
  background: linear-gradient(90.05deg, #45bfff 26.58%, var(--color-download));
  box-shadow: 0 24px 30px -16px rgba(45, 183, 255, 0.25);
}

.github {
  background: linear-gradient(90.05deg, #424242 26.58%, var(--color-github));
  box-shadow: 0 24px 30px -16px rgba(66, 66, 66, 0.25);
}

.download:hover {
  background: transparent;
  border: 3px solid var(--color-download);
  color: black;
}

.github:hover {
  background: transparent;
  border: 3px solid var(--color-github);
  color: black;
}

.download-now {
  font-size: var(--font-size-sm);
  line-height: 19px;
  font-weight: 600;
  color: var(--color-aliceblue-100);
  transition: color 0.5s ease;
}

.download:hover .download-now,
.github:hover .download-now {
  color: black;
}

.preview-icon {
  width: 50%;
  max-width: 708px;
  height: auto;
  object-fit: cover;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .preview-icon {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .ms-365-electron {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .heading {
    font-size: 30px;
    line-height: 36px;
  }

  .byagam778 {
    font-size: 26px;
  }

  .description {
    font-size: 18px;
  }

  .download,
  .github {
    width: 160px;
    height: 54px;
    font-size: 16px;
  }

  .download-now {
    font-size: 12px;
  }

  .buttons {
    flex-direction: column;
  }
}
