body {
  margin: 0;
  line-height: normal;
  background: linear-gradient(-72.79deg, #fec9f9, #ffdbfd 0.01%, #ecfdff 64.06%);
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root {
  --font-seaweed-script: "Seaweed Script";
  --font-poppins: Poppins;
  --font-size-sm: 14px;
  --color-aliceblue-100: #f3f8ff;
  --br-5xs: 8px;
}

.download-now {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 19px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-aliceblue-100);
  text-align: center;
}

.download,
.github {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin-top: 597px;
  border-radius: var(--br-5xs);
  width: 190px;
  height: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download {
  margin-left: 172px;
  background: linear-gradient(90.05deg, #45bfff 26.58%, #00a7ff);
  box-shadow: 0 24px 30px -16px rgba(45, 183, 255, 0.25);
}

.github {
  margin-left: 392px;
  background: linear-gradient(90.05deg, #424242 26.58%, #333);
  box-shadow: 0 24px 30px -16px rgba(66, 66, 66, 0.25);
}

.description,
.heading {
  position: absolute;
  margin-top: 505px;
  margin-left: 172px;
  line-height: 26px;
  display: inline-block;
  width: 388px;
}

.heading {
  margin-top: 285px;
  margin-left: 166px;
  font-size: 85px;
  line-height: 90px;
  color: #292e37;
  width: 461px;
}

.byagam778 {
  position: absolute;
  margin-top: 219px;
  margin-left: 172px;
  font-size: 50px;
  line-height: 50px;
  font-family: var(--font-seaweed-script);
  color: #00acff;
  cursor: pointer;
}

.content,
.preview-icon {
  position: absolute;
  margin-top: -93px;
  margin-left: 0;
  width: 890px;
  height: 834px;
}

.content {
  transform: translate(-50%, -50%);
  margin-left: 30%;
  margin-top: 21.5%;
}

.preview-icon {
  position: absolute;
  margin-top: 22%;
  margin-left: 68%;
  transform: translate(-50%, -50%);
  width: 708px;
  height: 447px;
  object-fit: cover;
}

.ms-365-electron {
  width: 100%;
  height: 696px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  color: #525d73;
  font-family: var(--font-poppins);
}

@media (max-width: 768px) {
  .preview-icon {
    width: 78%;
    height: auto;
    margin-top: 45%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
  }

  .content {
    margin-top: 77%;
  }

  .heading {
    text-align: center;
    font-size: 30px;
    height: auto;
    margin-top: 56%;
    margin-left: 59%;
    transform: translate(-50%, -50%);
  }

  .byagam778 {
    text-align: center;
    width: 100%;
    font-size: 30px;
    height: auto;
    margin-top: 50%;
    margin-left: 59%;
    transform: translate(-50%, -50%);
  }

  .description {
    text-align: center;
    width: 40%;
    font-size: 20px;
    height: auto;
    margin-top: 65%;
    margin-left: 59%;
    transform: translate(-50%, -50%);
  }

  .github {
    text-align: center;
    font-size: 20px;
    margin-top: 85%;
    margin-left: 59%;
    transform: translate(-50%, -50%);
  } 
  
  .download {
    text-align: center;
    font-size: 20px;
    margin-top: 77%;
    margin-left: 59%;
    transform: translate(-50%, -50%);
  }

  .download-now {
    font-size: 14px;
  }
}